/* Body and html styles */
html, body {
    margin: 0px 0px 0px 0px;
    font-family: 'Red Hat Text', sans-serif;
    overflow-x: hidden;
}
/* Nav bar */
nav {
    height: 75px;
    width: 100%;
    background-color: gray;
    position: fixed;
    opacity: 0.75;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0px 15px 0px 15px;
    z-index: 1;
}

#nav-a {
    display: flex;
    width: 79%;
}

#nav-b {
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul a, nav h1 {
    list-style-type: none;
    margin-right: 50px;
    align-self: center;
}

nav img {
    margin-right: 15px;
}

nav a {
    align-self: center;
    color: white;
    text-decoration: none;
}

/* Banner styles */
#banner {
    width: 100%;
    height: 600px;
    background-color: #143E90;
    display: flex;
    position: relative;
    flex-direction: row;
}

#banner img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
}    

#banner h2 {
    align-self: center;
    margin-left: 10%;
    font-size: 4rem;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 100;
}

/* Introduction styles */
#intro {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

#intro h2 {
    color: goldenrod;
    font-size: 2.5rem;
}

#intro p {
    font-size: 1.5rem;
}

#intro div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* Features styles */
#service-header {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    padding: 15px 15px 15px 15px;
}

#service-header h2 {
    margin-top: 0px;
    color: #433f40;
    font-size: 1.75rem;
    font-weight: bolder;
    text-align: center;
}

#header-1 {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
}

#header-1 .feature-box{
    width: 25%;
    height: 500px;
    background-color: white;
    margin-right: 15px;
    border-radius: 20px;
    
}

#header-2 {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    padding: 15px 0px 25px 0px;
}

#header-2 .feature-box {
    width: 25%;
    height: 500px;
    background-color: white;
    margin-right: 15px;
    border-radius: 20px;
    margin-top: 50px;
    
}

/* Get app styles */
#app-grab-header {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    padding: 15px;
    text-align: center;
}

#app-grab-header h2 {
    margin: 0;
    font-size: 2rem;
    color: #433f40;
}

#app-grab {
    width: 100%;
    height: 100px;
    background-color: gainsboro;
    padding: 15px;
    text-align: center;
}

#app-grab p {
    margin-top: 0;
}

/* Footer styles */
footer {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
}

footer > div {
    margin-right: 5%;
}

/* About page styles */

/* About page banner styles */
#about-banner {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 75px;
    background-image: url("/assets/img/about-banner-opt.jpg");
    background-size: cover;

}
