
/* Body and html styles */

html, body {
<<<<<<< HEAD
    margin: 0px 0px 0px 0px;
=======
    margin: 0;
>>>>>>> 4e8dbb0f37d9e1fa8eedcfd9e5f1b89b95ef058e
    font-family: 'Red Hat Text', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}
/* Nav bar */
nav {
    height: 75px;
    width: 100%;
    background-color: goldenrod;
    position: fixed;
    opacity: 0.75;
    display: flex;
    flex-direction: row;
    color: white;
    z-index: 1;
}

#nav-a {
    display: flex;
    width: 37%;
    margin-left: 13%;
    
}

#nav-b {
    display: flex;
    width: 37%;
    justify-content: flex-end;
    
    
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

nav ul a, nav h1 {
    list-style-type: none;
    
    align-self: center;
}

nav img {
  margin-right: 15px;
}

nav a {
    align-self: center;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* Banner styles */
#banner {
    width: 100%;
    height: 500px;
    background-color: #143E90;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#banner img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
}    

#banner h2 {
    margin-left: 10%;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
}

#first-text-header {
    margin: 0px;
    font-weight: bold;
    font-size: 5rem;
    
}

#second-text-header {
    margin: 0px;
    font-weight: lighter;
    font-size: 4rem;
}

/* Introduction styles */
#intro {
    width: 100%;
    height: 550px;
    background-color: whitesmoke;
    color: black;
    text-align: left;
    padding: 15px 0px 15px 0px;
    display: flex;
}

#intro h2 {
    color: goldenrod;
    font-size: 3rem;
}

#intro p {
    font-size: 1.5rem;
}

#intro div {
    width: 30%;
    margin-left: 13%;
}

#intro img {
    height: 100%;
    margin-left: auto;
    margin-right: 13%;
}

/* Features styles */
#service-header {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    padding: 15px 0px 15px 0px;
}

#service-header h2 {
    margin-top: 0px;
    color: #433f40;
    font-size: 1.75rem;
    font-weight: bolder;
    text-align: center;
}

#header-1 {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
}

#header-1 .feature-box{
    width: 25%;
    height: 500px;
    background-color: white;
    margin-right: 15px;
    border-radius: 20px;
    
}

#header-2 {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    padding: 15px 0px 25px 0px;
}

#header-2 .feature-box {
    width: 25%;
    height: 500px;
    background-color: white;
    margin-right: 15px;
    border-radius: 20px;
    margin-top: 50px;
    
}

/* Get app styles */
#app-grab-header {
    width: 100%;
    height: auto;
    background-color: gainsboro;
    padding: 15px 0px;
    text-align: center;
}

#app-grab-header h2 {
    margin: 0;
    font-size: 2rem;
    color: #433f40;
}

#app-grab {
    width: 100%;
    height: 100px;
    background-color: gainsboro;
    padding: 15px 0px;
    text-align: center;
}

#app-grab p {
    margin-top: 0;
}

/* Footer styles */
footer {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    padding: 30px 0px;
    display: flex;
    position: absolute;
}

footer > div {
    margin-right: 5%;
}

/* About page styles */

/* About page banner styles */
#about-banner {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/img/about-banner-opt.jpg");
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#about-banner h2 {
    align-self: center;
    font-size: 5rem;
    color: white;

}

/* About page menu styles */
#about-menu {
    width: 100%;
    height: 10vh;
    background-color: black;

}

#about-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    align-items: center;
    height: 100%;

}

#about-menu ul a {
    text-decoration: none;
    color: white;
    margin: 2.5%;
}

.anchor a {
    position: absolute;
    left: 0px;
    top: -115px;
}

.anchor {
    position: relative;
}




/* Developer profile styles */
#dev-header, #team-header, #project-header {
    height: 10vh;
    width: 100%;
    background-color: #fff;
    color: goldenrod;
    padding-left: 14%;

}

#dev-header h2, #team-header h2, #project-header h2 {
    font-size: 3rem;
    
}


.dev-row {
    width: 100%;
    height: 350px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 0px;
}

.dev-profile {
    background-color: white;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px;
    box-sizing: border-box;
    overflow: auto;

    
}



.prof-img-container {
    width: 25%;
    height: 45%;
    display: flex;
    justify-content: start;
}

.prof-img-container img {
    width: auto;
    height: 100%;
    border-radius: 100%;
    
 
}

.prof-text {
    width: 100%;
    height: 100%;


}

.prof-text h2{
    font-size: 2.5rem;
    margin: 0;
}

.prof-text h3, .prof-text p {
    
    font-size: 1.25rem;
}

.social-media-links {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
}

.social-media-img {
    height: 100%;
    margin-right: 15px;
}

/* Team description styles */
.description {
    width: 75%;
    padding-left: 14%;
    margin-bottom: 5%;
}

.description p {
    font-size: 1.5rem;
}

/* Contact form page styles */
#form-header {
    height: 100px;
}

#form-header p {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 95px;
    margin-left: 13%;
}

/* Form styles */
#contact-form {
<<<<<<< HEAD
    height: 300px;
    color: black;
    margin-left: 13%;
}

=======
    height: auto;
    color: black;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 100px;    
}

textarea, input {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1rem;
}

fieldset {
    display: flex;
    flex-direction: row;
}

fieldset > div {
    margin: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #nav-c h1{
        color: red;
    }
    nav #nav-b ul {
        display: none;
    }
    #banner {
        width: 100%;
        height: 500px;
        background-color: #143E90;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    #banner #first-text-header {
        margin-left: 10%;
        font-weight: bold;
        font-size: 4rem;        
    }    
    #banner #second-text-header {
        margin-left: 10%;
        font-weight: lighter;
        font-size: 3rem;
    }
    #intro .text-box h2 {
        font-size: 2rem;
    }
    #intro .text-box p {
        font-size: 1.3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #nav-c h1{
        color: blue;
    }
    nav #nav-b ul {
        display: none;
    }
    #banner {
        width: 100%;
        height: 500px;
        background-color: #143E90;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    #banner #first-text-header {
        margin-left: 10%;
        font-weight: bold;
        font-size: 4rem;        
    }    
    #banner #second-text-header {
        margin-left: 10%;
        font-weight: lighter;
        font-size: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #nav-c h1{
        color: green;
    }
    #nav-c span{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #nav-c h1{
        color: orange;
    }
    #nav-c span{
        display: none;
    }
}

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    #nav-c h1{
        color: pink;
    }
    #nav-c span{
          display: none;
    }
    #banner #first-text-header {
        margin-left: 10%;
        font-weight: bold;
        font-size: 6rem;        
    }    
    #banner #second-text-header {
        margin-left: 10%;
        font-weight: lighter;
        font-size: 5rem;
    }
}


>>>>>>> 4e8dbb0f37d9e1fa8eedcfd9e5f1b89b95ef058e







